.head 
  =link_to "珈琲app", root_path

.household-account-book__registration 
%ul
  %li
    = link_to "記録する", tweets_path
  %li
    = link_to "なんかする", root_path
  %li
    = link_to "ふざける", root_path

.graph
  = render "top/chart"

.contents.row
  - @tweets.each do |tweet|
    = render partial: "chart", locals: { tweet: tweet }
  -# = paginate(@tweets)