.taste-form
  .taste-form__header 味の記録
  = form_with model: @tweet, url: tweets_path, class: "tweets-form", method: :post, local:true do |f|
    .taste-content
      .taste-content__form-group
        %label
          甘み
          %span.form-require 
        = f.text_field :sweetness, class: "income-textfield-default", value: ""
      .taste-content__form-group
        %label
          酸味
          %span.form-require 
        = f.text_field :bitter, class: "income-textfield-default", value: ""
      .taste-content__form-group
        %label
          苦味
          %span.form-require 
        = f.text_field :acidity, class: "income-textfield-default", value: ""
      .taste-content__form-group
        %label
          コク
          %span.form-require 
        = f.text_field :body, class: "income-textfield-default", value: ""
      = f.submit "登録する", class: "btn-default"
      = link_to "TOPへもどる", "#", class: "back-btn"
